# project service name
NAME := saldo

# local database connection settings
TEST_PGDATABASE ?= test-saldo

PGDATABASE ?= saldo
PGHOST ?= postgres
PGPORT ?= 5432
PGUSER ?= user
PGPASSWORD ?= password

# add -race to GOFLAGS if RACE=1
RACE=1
